.notes-list{
    display: grid;
	grid-gap: 1rem;
    width: 100%;
	/*grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);*/
}

.notes-list .container{
    padding-top: 95px;
    padding-bottom: 200px;
    background-color: #1464b429;
}